@model List<Reservas>
@{
    ViewData["Title"] = "Lista de Reservas";
}
<link  href="~/css/Reservas.css" rel="stylesheet" type="text/css" />
<body>
<div class = "card">
    <div class = "card-header">
        Lista de Reservas
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-primary">Nueva Reserva</a>
        <hr />
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Fecha y Hora</th>
                    <th>Duracion</th>
                    <th>Lugar</th>
                    <th>Tipo del Dispositivo</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Nombre</td>
                        <td>@i.Documento</td>
                        <td>@i.FechaHora?.ToString("MMMM/dd/yyyy")</td>
                        <td>@i.Duracion</td>
                        <td>@i.Lugar</td>
                        <td>@i.TipoDispositivo</td>      
                </tr>
                }
            </tbody>

        </table>

     <a asp-action="Menu" asp-controller="Mantenedor" class="btn btn-outline-primary">Volver al menu</a>
    </div>
</div>
</body>